* {
    letter-spacing: 2px;
  }
  button {
      width: 120px;
    }
  
  .card-deck {
    margin-top: 10px;
  }
  
  #typing {
    position: fixed;
    right: 50%;
    bottom: 95%;
    width: 300px;
  }
  .card {
    background-image: url("/images/bgcard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #login {
    width: 100%;
    height: 100%!important;
  }
  
  .my-custom-scrollbar {
    position: relative;
    height: 630px;
    overflow: auto;
  }
  
  #logOut {
    float: right; 
    margin: 5px;
  }
  
  ul, li {
    color: beige;
    font-family: cursive; 
    font-size: 20px;
  }
  
  .table-wrapper-scroll-y {
    display: block;
  }
  
  #nav {
    margin: 20px;
    float: right;
    position: sticky;
    color: black
  }

  textarea {
    /* width: 50px;
    min-width: 100px;
    margin-top: 1%; */
    width:75px;
    box-sizing:border-box;
    direction:ltr;
    margin: 2%;
    max-width:70%;
    line-height:1.5;
    padding:15px 10px 10px;
    border-radius:3px;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
  }
  
  
  .form-rounded {
    border-radius: 1rem;
  }
  
  .user {
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
  }
  
  .card-deck {
    width: 100%;
    height: 75%;
  }
  
  .card {
    height: 85%;
  }
  
  #login {
    margin-top: 2%;
    height: 700px!important;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
  }
  
  #user {
    margin-top: 20%;
    margin-right: 20%;
    float: right;
    position: sticky;
  }